{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}

<!-- Page Header -->
<header class="masthead" style="background-image: url('https://www.wallpapertip.com/wmimgs/83-838296_web-designer-professional-website-background-images.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-heading">
                    <h1>Add Serviceing Detail</h1>
                    <h2 class="subheading">company name</h2>
                    <span class="meta"></span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <hr>
                {{ ckeditor.load() }}
                {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}

<!--                  {% if current_user.id == 1 %}-->
<!--                <div class="clearfix">-->
<!--                    <a class="btn btn-primary float-right" href="#">Edit-->
<!--                        Post</a>-->
<!--                </div>-->
<!--                {% endif %}-->

            </div>
        </div>
    </div>
</article>

<hr>
{% include "footer.html" %}
{% endblock %}